**** Hello ****

.body-1 {
    background-color: red;
}

.body-2 {
    background-color: green;
}

.body-3 {
    background-color: aqua;
}

.body-4 {
    background-color: yellowgreen;
}

.body-5 {
    background-color: orange;
}

.body-6 {
    background-color: blue;
}