************ Welcome to start styling ****************


.main1 {
    display: flex;
    display: inline-flex;
    text-align: center;
}

.main2 {
    color: blue;
    font-size: 50px;
    text-align: center;
}